/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --background-body:rgb(243 180 186);
  --color-headings: white;
  --color-tekst: white;  
}


@font-face {
  font-family: barbie;
  src: url('../fonts/barbie.ttf')
}


/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  cursor: url(../images/cursorBarbie.png), auto;
}


img {
  max-width: 100%;
}



/* LAYOUT */
body {
  margin: 0;
  background-color: var(--background-body);
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 20em;
  grid-template-rows: max-content 1fr;
}





/* DE TITEL VAN DE PAGINA  */
/* GRID PLAATSING */
h1{
  font-family: 'barbie';
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: var(--color-headings);
  padding-top: .25em;
  font-size: 5em;
}




/* DE KENS */
/* GRID PLAATSING */
main > section:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  font-family: barbie;
  font-size: 1.25em;
}


main > section:nth-of-type(1) h2 {
  position: absolute;
  left:-9999em;
}



main > section:nth-of-type(1) ol {
  list-style: none;
  display:flex;
  gap:1em;
  overflow:auto;
  width:calc(100vw - 0em - 16em);
  padding:2em 10vw;
}



main > section:nth-of-type(1) ol li{
  background-color: transparent;
  border: none;
  width: 100%;
  align-items: center;
  color: var(--color-tekst);
  text-align: center;
  width:18em;
  /* height: 30em; */
  flex-shrink: 0;

}

main > section:nth-of-type(1) ol li button {
  display:block;
  padding:0;

  border: none;
  background: none;
  transition-duration: .3s;
}

main > section:nth-of-type(1) ol li button:hover {
  cursor: pointer;
}

/* dit is de code die de doos aanpast wanneer je hovert */
section:nth-of-type(1) ol li button:hover{
  scale: 1.1;
  /* cursor: url(../images/cursorBarbie.png), auto; */
}




/* INFORMATIE OVER KEN */
/* GRID PLAATSING */
main > section:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  padding:1em;
  background-color: rgb(240, 194, 199);
  display:grid;
  grid-template-rows: 1fr 14em;
  font-family: barbie;
  color: var(--color-tekst);
}



/*MAGAZINE COVER*/
div:nth-of-type(1) {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

div:nth-of-type(1) img {
  display: block;
  rotate: 5deg;
  height: fit-content;
  width: auto;
  object-fit: contain;
  object-position: 50% 0%;
  box-shadow: 5px 5px 10px rgb(44, 44, 44);
  margin:0 auto;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}



/*INFO TEKSTVLAK*/
div:nth-of-type(2) {
 
  margin:0 1em;
  padding:1em;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: stretch;
  flex-direction: column;
  
  align-self: start;
  background-color: hotpink;
  border-style: dotted;
  border-width: 1em;
  border-color: rgb(255, 199, 236);

}

div:nth-of-type(2)  p{
  color: var(--color-tekst);
}















